


<div id="content-util"> #TODO: refactor it into helper
    <div id="nav">
    # FIXME: placeholder for now, need to change to  correct template-strings

    Home > ALL PRODUCTS
    </div>

    <div id="social">
    #FIXME: use correct icons later
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Pinterest</li>
            <li>tumblr</li>
            <li>Youtube</li>
        </ul>
    
    
    
    
    
    </div>
</div>

<div id="nav-container">
    <div id="tag">
        <p>------</p>
        #TODO: tag texts from product model dynamically

        <ul>
            <li>tag1</li>
            <li>tag2</li>
            <li>tag2</li>
        </ul>
    </div>

    <div id="shop">
        <p>------</p>
        #TODO: category texts from category model  dynamically
        <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
        </ul>
    </div>

</div>

<div id="collections-header">
    <h3>All Products</h3>

    <div id="sort-selector">
        <p>Sort by</p>
        <box></box>
    </div>

    <div id="products-grid">
        <div id="products">
            # TODO: autogenerate products and fillin
        </div>

        <div id="pagination">
            # TODO: gem will_paginate
        </div>


    </div>
</div>