
<!--TODO: refactor it into partial, the path should change dynamically -->

<div class="container">
    <div class="row">
        

        <div class="col-md-2">
            <div id="nav">
                <!--FIXME: spanlaceholder for now, need to change to  correct temspanlate-strings-->

                Home > ALL PRODUCTS
            
            </div>
        
        </div>

        <div class="col-md pull-right">
            <div id="social">
                <!--FIXME: use correct icons later-->
            
                <span>F </span><span>I </span><span>P </span><span>t </span><span>Y </span>
            </div>
        </div>
    </div>

</div>



<div class="container">
    <div class="row">
        <div id="sidenav" class="col-xs-2">
            <p>Tag</p>
                <span>------</span>
                <!--TODO: tag texts from spanroduct model dynamically -->

                <ul class="nav">
                    <li>tag1</li>
                    <li>tag2</li>
                    <li>tag2</li>
                </ul>
            
            <br>
            <p>shop</p> 
                <span>------</span>
                <!--TODO: category texts from category model  dynamically-->
                <ul class="nav">
                    <li>Category 1</li>
                    <li>Category 2</li>
                    <li>Category 3</li>
                </ul>
            </p>
        </div>


        <!-- #TODO: category selector-->
        <!-- #FIXME: The heading should change according to the category chosen
             #FIXME: Pull the heading and dropdown to the same line -->
        
        <div id="product-wrapper" class="col-xs-10">
            <div id="collections-header">
                <h3>All products</h3>
                
                <div id="sort-selector" class="pull-right">
                    <span>Sort by</span>
                    <box></box>
                </div>
            </div>

            <div id="products-grid">
                <div id="products">
                    <!--# TODO: autogenerate prroducts and filling -->
                </div>

                <div id="pagination">
                    <!--# TODO: gem will_paginate... or just bootstrap? -->
                </div>


            </div>
            
        </div>
    

</div>