
<!--TODO: refactor it into partial, the path should change dynamically -->

<div class="container">
    <div class="row">
        

        <div class="col-md-2">
            <div id="nav">
                <!--FIXME: placeholder for now, need to change to  correct template-strings-->

                Home > ALL PRODUCTS
            
            </div>
        
        </div>

        <div class="col-md pull-right">
            <div id="social">
                <!--FIXME: use correct icons later-->
            
                <span>F </span><span>I </span><span>P </span><span>t </span><span>Y </span>
            </div>
        </div>
    </div>

</div>



<div class="container">
    <div class="row">
        <div id="sidenav" class="col-xs-2">
            <p>Tag</p>
                <span>------</span>
                <!--TODO: tag texts from product model dynamically -->

                <ul class="nav">
                    <li>tag1</li>
                    <li>tag2</li>
                    <li>tag2</li>
                </ul>
            
            <br>
            <p>shop</p> 
                <span>------</span>
                <!--TODO: category texts from category model  dynamically-->
                <ul class="nav">
                    <li>Category 1</li>
                    <li>Category 2</li>
                    <li>Category 3</li>
                </ul>
            </p>
        </div>


        <!-- #TODO: category selector-->
        <!-- #FIXME: The heading should change according to the category chosen
             #FIXME: Pull the heading and dropdown to the same line -->
        
        <div id="product-wrapper" class="col-xs-10">
            <div id="collections-header" class="row" >
                
                <div id="heading" >
                    <h3>All products</h3>
                </div>
                
                <div id="selector">
                Sort by
                </div>
                    
                    
                    
            </div>
        

            <div id="products-grid" class="row">
                <div id="product-list" class="card">
                    
                    <% @products.each do |p| %>
                    <%= image_tag 'products/dummy.png', class: "card-img-top" %><br>
                    <%= link_to p.product_name, controller: "products", action: "show", product_name: p.product_name.parameterize 
                    %><br>
                    <!--FIXME: the link is broken for now, fix it against nested routing -->
                    <%= p.price %>
                    <% end %>
                </div>

                <div id="pagination">
                    <!--# TODO: gem will_paginate... or just bootstrap? -->
                </div>


            </div>
                
            

        </div>
    

</div>