<div id="nav">
<div id="content-util"> #TODO: refactor it into helper
    <div id="nav">
    # FIXME: placeholder for now, need to change to  correct template-strings

    Home > ALL PRODUCTS
    </div>

    <div id="social">
    #FIXME: use correct icons later
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Pinterest</li>
            <li>tumblr</li>
            <li>Youtube</li>
        </ul>
    
    
    
    
    
    </div>
</div>

<h1>Shoping Cart</h1>
<%= render "cart_items" %>
  


  
