<div class="container">
    <div class="row justify-content-between">
        

        <div id="nav" class="col-xs-8">
            
            <!--FIXME: write helper to show path -->

            HOME > <%= params[:collection_name].titleize.upcase %> 
            
            
        
        </div>

        <div id="social" class="col-xs-4 text-right">
            
            <!--FIXME: use correct icons later and add links-->
        
            <span>F </span><span>I </span><span>P </span><span>t </span><span>Y </span>
            
        </div>
    </div>

</div>
