<div class="container">
    <div class="row">
        

        <div id="nav">
            <span>
                <!--FIXME: write helper to show path -->

                HOME > <%= params[:collection_name].titleize.upcase %> 
            
            </span>
        
        </div>

        <div class="col-md pull-right">
            <div id="social">
                <!--FIXME: use correct icons later and add links-->
            
                <span>F </span><span>I </span><span>P </span><span>t </span><span>Y </span>
            </div>
        </div>
    </div>

</div>
<hr>