<!-- A more "formal" way for "contact" and "shipping_payment" should be writing #new and render info inside of them.
But as I want to update all of the data on screen, let's just separate it into two different pages;
btw it's more convenient for path designation.
-->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="page" class="content">
        <div class="row">
            <div class="col-md-8" id="info">

            
            </div>
            <div id="item-info" class="col-md-4">
            <%= render 'contact_infos/item_info', { line_items: @line_items, cart: @cart } %>
            </div>
        
        
        
        
        
        </div>
    
    
    
    
    
    </div>




</body>
</html>