<div id="title">
    <h1>New Arrivals! Influencer Colection!</h1>
    <% button_to 'SEE MORE', '#' %>
</div>

<div id="new-arrivals">
    <picture id="item1">1</picture>
    <picture id="item2">2</picture>
    <picture id="item3">3</picture>
    <picture id="item4">4</picture>
</div>

<div id="influencer">
    <picture id="item1">1</picture>
    <picture id="item2">2</picture>
    <picture id="item3">3</picture>
</div>
