<div id="title">
    <h1>Best Seller</h1>
    <% button_to 'SEE MORE', '#' %>
</div>

<div id="pics">
    <picture id="item1">1</picture>
    <picture id="item2">2</picture>
    <picture id="item3">3</picture>
    <picture id="item4">4</picture>
    <picture id="item5">5</picture>
    <picture id="item6">6</picture>
    <picture id="item7">7</picture>
    <picture id="item8">8</picture>
</div>


