<div id="title">
    <h1>Cartoon Style For You</h1>
    <% button_to 'SEE MORE', '#' %>
</div>

<div id="pics">
    <picture id="item1">1</picture>
    <picture id="item2">2</picture>
    <picture id="item3">3</picture>
    <picture id="item4">4</picture>
    
    <p id="follow">
    Follow <a href="https://www.instagram.com/jumpfrompaper/">@jumpfrompaper</a> to discover the cool 2D style in 3D world! 
    </p>

    <p id="tag">
    Tag #jumpfrompaper in any Instagram photo and your pic may end up on our page. 
    </p>




</div>


