
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="slider"></div>

    <div id="featured">
        <% render 'featured' %>
    </div>

    <div id="best-seller">
        <% render 'best_seller' %>
    </div>

    <div id="arrivals-influencer">
        <% render 'arrivals_influencer' %>
    </div>
    
    <div id="style-recommendation">
        <% render 'style_recommendation' %>
    </div>

</body>
</html>