
    <div class="row fixed-bottom">
        <div id="refund" class="col-xs-4">Refund Policy</div>
        <div id="privacy" class="col-xs-4">Privacy Policy</div>
        <div id="terms-of-service" class="col-xs-4">Terms of Service</div>
    
    
    
    </div>

