<!-- TODO: make a new path nav here? -->






<h1 class="text-center"><b>Shopping Cart</b></h1>
<hr>

<%= render 'form' %>

<!-- Always remember to include JS at the end! If it is included to any element it refers to, the execution order causes problem -->
<%=  javascript_pack_tag 'cart' %>

