<template>
  
    <span>{{item_price}}</span>
  
</template>

<script>
export default {
  data: function() {
    return {
      item_price: 0
    }
  }, 
  computed: {
      
  },
  beforeCreate: {
      
  }
}
</script>