<template>
  <div>
    <span id="total" class="col-xs-2 push-right">USD${{total_price}}</span>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      total_price: 60 * 4
    }
  }, 
  props: {
    
  }
}
</script>