<div class="shipment-announcement center">
    We ship to Canada, Mexico, United Kingdom, Australia, Denmark, Norway and other places. 
    <br>
    <%= link_to 'Find out more here!', "https://www.jumpfrompaper.com/pages/delivery-region" %>
</div>