<div class="util-bar container-fluid">
      <div class="row">
        <!-- #TODO: implement search function -->
        <span id="search" class="col-xs-2">Search</span>

        <!-- #TODO: implement account utilities -->
        <div id="member-content" class="pull-right col-xs-4">
          
          <span id="login" class=>Log In</span>
          <span> | </span>
          <span id="register">
          Create account
          
          </span>
            
          

          <span id="cart">
          <%= link_to 'Cart content', carts_path %>
          <!-- TODO: need to set a empty as customer reaches the site-->
          </span>

        </div>
      </div>
          
    </div>