<div class="util-bar container-fluid">
      <div class="row">
        <!-- #TODO: implement search function -->
        <span id="search" class="col-xs-2">Search</span>

        <!-- #TODO: implement account utilities -->
        <div id="member-content" class="pull-right ">
          
          <span id="padding_space" class="pull-right">&nbsp &nbsp</span>

          <span id="register" class="pull-right">
          <%= link_to 'Create account', new_user_registration_path %>
          </span>
          <span class="pull-right"> | </span>
          <span id="login" class="pull-right">
          <%= link_to 'Log In', user_session_path %>
          </span>

          
          
          
          
          <br>
            
          

          <span id="cart">
          <%= link_to '@cart.line_items.count items in cart â¤ ', carts_path %>
          <!-- FIXME: show items count only, as the total price is implemented in JS and hard to track; in addition it is meaningless to show total price at this stage -->
          <!-- FIXME: When an item is added to cart, it should record the cart_id. Implement it in LineItem model. -->
          
          </span>

          <span id="padding_space">&nbsp &nbsp</span>

        </div>
      </div>
          
    </div>