<!DOCTYPE html>
<html>
  <head>
    <title>Jfpcp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="shipment-announcement">
    We ship to Canada, Mexico, United Kingdom, Australia, Denmark, Norway and other places. Fin out more here!
    </div>
    
    <div class="util-wrapper">
      <div id="search">Search</div>
      <div id="account">
        <ul>
          <li>Log In</li>
          <li>Create account</li>
        </ul>
      </div>
      <div id="cart">Cart content</div>
    </div>

    <div class="brand-logo">
    JFP
    </div>

    <div class="nav-bar">
      <ul>
        <li>HOME</li>
        <li>SHOP</li>
        <li>GRAFFITI WORLD</li>
        <li>LOOK BOOK</li>
        <li>BLOG</li>
        <li>ABOUT US</li>
      </ul>

    </div>


	<%= yield %>
  </body>
  
  
  
  <footer>
    <div id="get-in-touch" class="footer-title">
    Get in touch with us!
    </div>

    <div id="about-us" class="footer-title">
    About Us
    </div>
    
    <div id="customer-service" class="footer-title">
    Customer Service
    </div>
  </footer>


  
</html>
